.navigation {
  padding: 15px 35px;
  display:flex;
  justify-content: space-between;
  font-size:13px;
  border-bottom:0.5px solid #cecccc;
}

.nav-first{
  display:flex;
  justify-content: space-between;
  width: 50%;
}

.nav-first span a{
  color: #555555 !important;
}

.nav-first span a:hover{
  color: #c0a319!important;
}


.nav-second{
  display:flex;
  color:#555555;
}

.search-nav{
  padding: 0px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.tel-number{
  font-weight:bold;
  color: #1a1a1a;
  font-size:16px;
}

.title{
  font-size:34px;
  color:#222222;
}

.search{
  color: #494848;
}

.category-nav{
  display:flex;
  color: #1a1a1a;
  font-size:18px;
  justify-content: space-around;
  padding:20px;
  font-family: 'Noto Sans', sans-serif;
}

.cover-image img{
  width:100%;
}
