<div class="navigation">
  <div class="nav-first">
    <span>About Us</span>
    <span>Loyality Program</span>
    <span>Cooperation</span>
    <span>Delivery</span>
    <span>Payment</span>
    <span>Contact</span>
  </div>
  <div class="nav-second">
    <i class="fas-sharp fas-solid fas-user"></i>
    <span>Login</span>
  </div>
</div>

<div class="search-nav">
  <div class="tel-number"><span><i class="fa-solid fa-phone"></i>8(800) 555 51 24</span></div>
  <div class ="title">BRITVOLOGY</div>
  <div class="search"><i class="fa-solid fa-phone"></i>search</div>
</div>

<div class="category-nav">
  <span>Sales</span>
  <span>Gift Ideas</span>
  <span>Accessories</span>
  <span>Cosmetics</span>
  <span>Care for hair</span>
  <span>Care for face</span>
</div>
