<div  [ngClass]="{'side-bar-container-hidden' : !toggleService.getIsVisible() }" class="d-flex flex-column flex-shrink-0 p-3 bg-warning side-bar-container" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li *ngFor="let item of settingService.getAllActiveSettingItems();let i =index">
      <a href="#" [ngClass]="{'active':i===isSelected}" class="nav-link" aria-current="page" (click)="selectActive(i)">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        {{item.name}}
      </a>
    </li>
  </ul>
  <hr>
</div>
