<div class="footer">
  <div class="footer-container">
    <div class="footer-categories footer-categories-headings">
      <div *ngFor="let item of mainCategories"><app-footer-main-category [item]="item"></app-footer-main-category></div>
    </div>
    <div class="footer-categories">
      <h4 class="footer-category-heading"><a href="">ABOUT US</a></h4>
      <h4 *ngFor="let item of aboutUsCategory" class="m-top-bottom-10"><app-footer-item [category]="item.name"></app-footer-item></h4>
    </div>
    <div class="footer-categories">
      <h4 class="footer-category-heading"><a href="">INFORMATION</a></h4>
      <h4 *ngFor="let item of informationCategory" class="m-top-bottom-10"><app-footer-item [category]="item.name"></app-footer-item></h4>
    </div>
    <div class="footer-categories">
      <h4 class="footer-category-heading"><a href="">CATALOG</a></h4>
      <h4 *ngFor="let item of catalogCategory" class="m-top-bottom-10"><app-footer-item [category]="item.name"></app-footer-item></h4>
    </div>
    <div class="footer-categories">
      <h4 class="footer-category-heading"><i class="fa-sharp fa-solid fa-phone"></i><a href=""> 8 (800) 555-51-24 </a>
      </h4>
      <h4 class="footer-category-heading "><i class="fa-regular fa-envelope"></i><a href=""> info@britvology.ru</a></h4>
      <h4 class="footer-category-heading "><i class="fa-sharp fa-solid fa-location-dot"></i><a href=""> 197183,
        Saint-PeterBurg, street. Dibonovskaya, home 50, building 27Н, second floor, office 204</a></h4>
      <h4 class="footer-category-heading "><a href="">Working Days: 10.00 - 18.00
        From Monday To SaturDay: 10.00 - 17.30</a></h4>
    </div>
  </div>
  <div class="footer-container-social">
    <div><a href=""><i class="fa-brands fa-twitter color-silver"></i></a></div>
    <div><a href=""><i class="fa-brands fa-telegram color-silver"></i></a></div>
    <div><a href=""><i class="fa-brands fa-youtube color-silver"></i></a></div>
    <div><a href=""><i class="fa-brands fa-yandex color-silver"></i></a></div>
  </div>
  <div class="footer-container-bottom">
    <div><span>2022 © ООО "МЮЛЛЕ" и BRITVOLOGY. Все права защищены</span></div>
    <div>
      <span><i class="fa-solid fa-money-bill-1-wave"></i></span>
      <span><i class="fa-brands fa-cc-mastercard"></i></span>
      <span><i class="fa-brands fa-cc-visa"></i></span>
      <span><i class="fa-solid fa-building-columns"></i></span>
      <span><i class="fa-solid fa-cards-blank"></i></span>
    </div>
  </div>
</div>
