<div class="gallery-container">
  <div class="gallery-item">
    <div class="gallery-item-content">
      <p> IN JJKB MKLNKLN VJVJVJ VHVHVH BNBKN CHGCGDT VHVJVJ</p>
      <span>BJBM NKKN BHFJJBJ</span>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-content">
      <p> IN JJKB MKLNKLN VJVJVJ VHVHVH BNBKN CHGCGDT VHVJVJ</p>
      <span>BHFJJBJ JJKBK</span>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-content">
      <p> IN JJKB MKLNKLN VJVJVJ VHVHVH BNBKN CHGCGDT VHVJVJ</p>
      <span>BHFJJBJ</span>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-content">
      <p> IN JJKB MKLNKLN VJVJVJ VHVHVH BNBKN CHGCGDT VHVJVJ</p>
      <span>BHFJJBJ</span>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-content">
      <p> IN JJKB MKLNKLN VJVJVJ VHVHVH BNBKN CHGCGDT VHVJVJ</p>
      <span>BHFJJBJ</span>
    </div>
  </div>
</div>
