<div [ngClass]="{'main-content-toggle' : !toggleService.getIsVisible() }" class="main-content-container">
  <div>
    <nav class="nav nav-pills nav-justified content-partials-conatiner">
      <div *ngFor="let item of contentItems;let i = index">
      <a class="nav-link active" [ngClass]="{'active': i===isSelected}" (click)="selectedContent(i)" aria-current="page" href="#" style="margin-right:50px;">{{item}}</a>
      </div>
    </nav>
</div>

  <div [ngSwitch]="isSelected" class="selected-main-content-container">
    <div *ngSwitchCase=0>
      <div class="row">
      <div class="col-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Description</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="button" class="btn btn-success">Save</button>
      </div>
      <div>
        <div class="row">
        <div class="col-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>

    <div *ngSwitchCase=1>
      <form>
        <div class="row" *ngFor="let item of settingService.getAllSettingItems();let i=index">
          <div class="col">
            <input type="text" class="form-control" placeholder="name" value="{{item.name}}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="url" value="{{item.url}}">
          </div>
          <div class="form-check">
            <input class="form-check-input position-static"  (click)="changeSettingState(i)" type="checkbox" id="blankCheckbox" [checked]="item.isActive" aria-label="...">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

