<div class="review-container">
  <div class="review-heading">
    <div class="review-heading-title">
      <span>Reviews</span>
    </div>
    <div class="review-heading-options">
      <span class="review-heading-leave-feedbacks"><i class="fa-regular fa-message" style="font-weight:bold "></i> LEAVE FEEDBACK</span>
      <span>ALL FEEDBACKS</span>
    </div>
  </div>
  <div class="review-body">
    <div class="review-arrow-first"><i class="fa-solid fa-angle-left"></i></div>
    <div class="review-content">
      <div class="user-feedback">
        <div class="review-details">
          <div class="review-datail-user-info">image info</div>
          <div class="review-detail-info">
            <i class="fa-solid fa-star review-star"></i>
            <i class="fa-solid fa-star review-star"></i>
            <i class="fa-solid fa-star review-star"></i>
            <i class="fa-solid fa-star review-star"></i>
          </div>
        </div>
        <span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book.</span>
        <div>
          <button class="read-all-review">Read All Content</button>
        </div>
      </div>
    </div>
    <div class="review-arrow-second"><i class="fa-solid fa-angle-right"></i></div>
  </div>
</div>
